/*------------------------------*/
/*----------Mixins----------*/
/*------------------------------*/
/*----------Border radius----------*/
/*----------Transition----------*/
/*----------Transform----------*/
/*----------Filter----------*/
/*----------Box Shadow----------*/
/*----------Opacity----------*/
/*----------Background Size----------*/
/*----------Backdrop Filter----------*/
/*----------Position sticky----------*/
/*----------List reset----------*/
/*----------Animations----------*/
/*----------Background svg fallback----------*/
/*----------Before/after Clear----------*/
/*----------Overflow scroll----------*/
/*----------PX to REM----------*/
/*----------Gradients----------*/
/*----------Text colour----------*/
/*------------------------------*/
/*----------Variables----------*/
/*------------------------------*/
/*----------Colours----------*/
/*--General--*/
/*--Main nav--*/
/*--Section titles--*/
/*--Buttons--*/
/*----------Fonts----------*/
/*--Weights--*/
/*-----Breakpoints-----*/
/*
.example{
    background-image: get-icon( 'arrow-right', $primary-color);
}
*/
/*------------------------------*/
/*----------Mixins----------*/
/*------------------------------*/
/*----------Border radius----------*/
/*----------Transition----------*/
/*----------Transform----------*/
/*----------Filter----------*/
/*----------Box Shadow----------*/
/*----------Opacity----------*/
/*----------Background Size----------*/
/*----------Backdrop Filter----------*/
/*----------Position sticky----------*/
/*----------List reset----------*/
/*----------Animations----------*/
/*----------Background svg fallback----------*/
/*----------Before/after Clear----------*/
/*----------Overflow scroll----------*/
/*----------PX to REM----------*/
/*----------Gradients----------*/
/*----------Text colour----------*/
/*------------------------------*/
/*----------Variables----------*/
/*------------------------------*/
/*----------Colours----------*/
/*--General--*/
/*--Main nav--*/
/*--Section titles--*/
/*--Buttons--*/
/*----------Fonts----------*/
/*--Weights--*/
/*-----Breakpoints-----*/
/*
.example{
    background-image: get-icon( 'arrow-right', $primary-color);
}
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
/*-----Text highlight-----*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
::selection {
  background: #2AE3BE;
  color: #0d4439;
}

::-moz-selection {
  background: #2AE3BE;
  color: #0d4439;
}

body {
  font-family: "Lexend", "Poppins", sans-serif;
  color: #31383A;
}

a {
  color: #2AE3BE;
  font-weight: 400;
}
a:hover, a:focus {
  color: #2AE3BE;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  background-color: #31383A;
  color: white;
}

.logo {
  overflow: hidden;
  margin: 0;
  /*
  font-size: 16px;
  width: 22.6875em; 
  max-width: 70%;
  height: 6.875em; 
  @include svg-bg('../images/logo'); 
  background-size: contain; 
  margin: 0 auto; 
  overflow: hidden;
  text-indent: -1000em;



  @media screen and (max-width: $break-xs) {

  }
  */
}
.logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.logo span {
  position: absolute;
  left: -10000em;
}

.topsection {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #95989A;
  padding: 0.625rem 0;
}

.wrapper {
  animation: wrapperMoveUp 1s ease forwards;
  animation-delay: 1s;
  padding: 1.875rem;
  transform: translate(0, 30%);
  margin: auto 0;
}
.wrapper h1 {
  animation: fadeIn 1s ease forwards;
}
.wrapper h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.4em 0;
}

.text {
  margin: 1.875rem 0 1em 0;
  text-align: center;
  opacity: 0;
  animation: fadeInDown 1s ease forwards;
  animation-delay: 1s;
}
.text a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  animation: fadeInDown 1s ease forwards;
  animation-delay: 1s;
}
.links li {
  transition: 0.3s ease all;
  /*
  &.codepen:hover{
      path{
          fill: #000000;
      }
  }
  &.youtube:hover{
      path{
          fill: #FF0000;
      }
  }
  &.dribbble:hover{
      path{
          fill: #E74D89;
      }
  }
  &.linkedin:hover{
      path{
          fill: #0177B5;
      }
  }
  */
}
.links li.codepen a {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="white" opacity="0"/><path d="M19.989,15.736,15.744,18.6v.01L11.5,15.749l4.245-2.863v-.011l4.245,2.863ZM15.744,2.01a1.251,1.251,0,0,0-.64.2L2.669,10.386A1.437,1.437,0,0,0,2,11.169v8.587c0,.563,0,.563.2.829l12.9,8.7a1.06,1.06,0,0,0,.646.187,1.141,1.141,0,0,0,.646-.2l12.9-8.7c.2-.257.2-.257.2-.83V11.158a1.437,1.437,0,0,0-.669-.782L16.384,2.2a1.153,1.153,0,0,0-.64-.192Zm6.293,15.11,4.14,2.792-9.288,6.263V20.591Zm4.278-5.647-4.278,2.885-5.148-3.472V5.272l9.428,6.2Zm.881,2.168v4.2l-3.112-2.1,3.112-2.1ZM9.45,17.131,14.6,20.6v5.582L5.311,19.921,9.45,17.13ZM5.172,11.48,14.6,5.28v5.613l-5.15,3.473L5.171,11.481Zm-.881,2.168,3.112,2.1-3.112,2.1Z" transform="translate(8 7.991)" fill="white"/></svg>');
}
.links li.codepen a:hover, .links li.codepen a:focus {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%232AE3BE" opacity="0"/><path d="M19.989,15.736,15.744,18.6v.01L11.5,15.749l4.245-2.863v-.011l4.245,2.863ZM15.744,2.01a1.251,1.251,0,0,0-.64.2L2.669,10.386A1.437,1.437,0,0,0,2,11.169v8.587c0,.563,0,.563.2.829l12.9,8.7a1.06,1.06,0,0,0,.646.187,1.141,1.141,0,0,0,.646-.2l12.9-8.7c.2-.257.2-.257.2-.83V11.158a1.437,1.437,0,0,0-.669-.782L16.384,2.2a1.153,1.153,0,0,0-.64-.192Zm6.293,15.11,4.14,2.792-9.288,6.263V20.591Zm4.278-5.647-4.278,2.885-5.148-3.472V5.272l9.428,6.2Zm.881,2.168v4.2l-3.112-2.1,3.112-2.1ZM9.45,17.131,14.6,20.6v5.582L5.311,19.921,9.45,17.13ZM5.172,11.48,14.6,5.28v5.613l-5.15,3.473L5.171,11.481Zm-.881,2.168,3.112,2.1-3.112,2.1Z" transform="translate(8 7.991)" fill="%232AE3BE"/></svg>');
}
.links li.dribbble a {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="white" opacity="0"/><path d="M13.2,26.4A13.2,13.2,0,1,1,26.4,13.195,13.209,13.209,0,0,1,13.2,26.4ZM24.327,15a16.609,16.609,0,0,0-7.023-.485,48.07,48.07,0,0,1,2.186,8.033A11.209,11.209,0,0,0,24.327,15ZM17.6,23.592a46.848,46.848,0,0,0-2.4-8.549.191.191,0,0,1-.072.021c-6.363,2.219-8.642,6.629-8.848,7.041A11.223,11.223,0,0,0,13.2,24.48,10.994,10.994,0,0,0,17.6,23.592ZM4.826,20.749A17.976,17.976,0,0,1,13.994,13.3c.144-.052.3-.093.443-.134q-.424-.971-.918-1.91a41.6,41.6,0,0,1-11.591,1.6c0,.113-.01.227-.01.341a11.289,11.289,0,0,0,2.908,7.547ZM2.166,10.9A41.68,41.68,0,0,0,12.592,9.529,73.058,73.058,0,0,0,8.415,3.011,11.315,11.315,0,0,0,2.166,10.9ZM10.56,2.251a59.367,59.367,0,0,1,4.208,6.6A12.777,12.777,0,0,0,20.677,4.78,11.232,11.232,0,0,0,13.2,1.941a11.707,11.707,0,0,0-2.64.309Zm11.364,3.83a15.015,15.015,0,0,1-6.291,4.45l.753,1.631.247.578a26.464,26.464,0,0,1,7.848.361,11.236,11.236,0,0,0-2.558-7.021Z" transform="translate(11 11)" fill="white"/></svg>');
}
.links li.dribbble a:hover, .links li.dribbble a:focus {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%232AE3BE" opacity="0"/><path d="M13.2,26.4A13.2,13.2,0,1,1,26.4,13.195,13.209,13.209,0,0,1,13.2,26.4ZM24.327,15a16.609,16.609,0,0,0-7.023-.485,48.07,48.07,0,0,1,2.186,8.033A11.209,11.209,0,0,0,24.327,15ZM17.6,23.592a46.848,46.848,0,0,0-2.4-8.549.191.191,0,0,1-.072.021c-6.363,2.219-8.642,6.629-8.848,7.041A11.223,11.223,0,0,0,13.2,24.48,10.994,10.994,0,0,0,17.6,23.592ZM4.826,20.749A17.976,17.976,0,0,1,13.994,13.3c.144-.052.3-.093.443-.134q-.424-.971-.918-1.91a41.6,41.6,0,0,1-11.591,1.6c0,.113-.01.227-.01.341a11.289,11.289,0,0,0,2.908,7.547ZM2.166,10.9A41.68,41.68,0,0,0,12.592,9.529,73.058,73.058,0,0,0,8.415,3.011,11.315,11.315,0,0,0,2.166,10.9ZM10.56,2.251a59.367,59.367,0,0,1,4.208,6.6A12.777,12.777,0,0,0,20.677,4.78,11.232,11.232,0,0,0,13.2,1.941a11.707,11.707,0,0,0-2.64.309Zm11.364,3.83a15.015,15.015,0,0,1-6.291,4.45l.753,1.631.247.578a26.464,26.464,0,0,1,7.848.361,11.236,11.236,0,0,0-2.558-7.021Z" transform="translate(11 11)" fill="%232AE3BE"/></svg>');
}
.links li.linkedin a {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="white" opacity="0"/><path d="M80.438,11.85h5.175V28.5H80.438Zm2.589-8.276a3,3,0,1,1-3,3,3,3,0,0,1,3-3m5.831,8.276H93.82v2.269h.068a5.43,5.43,0,0,1,4.9-2.689c5.24,0,6.208,3.448,6.208,7.931v9.132h-5.17v-8.1c0-1.931-.035-4.414-2.689-4.414-2.693,0-3.106,2.1-3.106,4.275v8.236H88.858V11.838Z" transform="translate(-68.025 8.426)" fill="white"/></svg>');
}
.links li.linkedin a:hover, .links li.linkedin a:focus {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%232AE3BE" opacity="0"/><path d="M80.438,11.85h5.175V28.5H80.438Zm2.589-8.276a3,3,0,1,1-3,3,3,3,0,0,1,3-3m5.831,8.276H93.82v2.269h.068a5.43,5.43,0,0,1,4.9-2.689c5.24,0,6.208,3.448,6.208,7.931v9.132h-5.17v-8.1c0-1.931-.035-4.414-2.689-4.414-2.693,0-3.106,2.1-3.106,4.275v8.236H88.858V11.838Z" transform="translate(-68.025 8.426)" fill="%232AE3BE"/></svg>');
}
.links li + li {
  margin-left: 0.6em;
}
.links li a {
  display: block;
  transition: 0.3s ease all;
  display: block;
  width: 2.5em;
  height: 2.5em;
  text-indent: -1000em;
  overflow: hidden;
}
.links li a:hover, .links li a:focus {
  transform: translate(0, -0.5em);
}
.links li a:hover path, .links li a:focus path {
  fill: #2AE3BE;
}
.links li path {
  fill: white;
  transition: 0.3s ease all;
}

.media {
  transition: 1s ease all;
  max-height: 12.5rem;
  opacity: 0;
  overflow: hidden;
}
.media.playing {
  opacity: 1;
}
.media.stopped {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}

.artwork {
  width: 3.75rem;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: 0 .3em .7em rgba(0,0,0,.25); */
  background: #1c1d25;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.artwork:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: conic-gradient(from -135deg at 50% 50%, rgba(255, 255, 255, 0) 15%, white 25%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 65%, white 75%, rgba(255, 255, 255, 0) 85%);
  mix-blend-mode: overlay;
  border-radius: 50%;
}
.artwork:after {
  content: "";
  padding: 0.3em;
  background: #31383A;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
}
.artwork img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: spin 3s infinite linear;
  border-radius: 50%;
}

.media-item {
  transition: opacity 1s, height 1s, background-color 2s;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100rem;
  padding: 0.625rem;
  max-width: calc(100vw - 2.5rem);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
}
@media screen and (min-width: 480px) {
  .media-item {
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .media-item {
    flex-direction: column;
    padding: 0.625rem 1.875rem;
    text-align: center;
    margin-top: 2.5rem;
  }
}
.media-item .artwork {
  flex-shrink: 0 !important;
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .media-item .artwork {
    margin: -2.5rem 0 0.3125rem 0;
  }
}
.media-item .info {
  flex-shrink: 1;
  overflow: hidden;
}
.media-item .info .intro,
.media-item .info .subtitle {
  font-size: 12px;
  opacity: 0.6;
  font-weight: 400;
}
.media-item .info .intro {
  margin-bottom: 0.1875rem;
}
.media-item .info .title {
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.media-item .info .subtitle {
  margin-top: 0.1875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*------------------------------*/
/*----------Animation----------*/
/*------------------------------*/
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -webkit-transform: translate(0, -150px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translate(-150px, 0);
    -o-transform: translate(-150px, 0);
    -ms-transform: translate(-150px, 0);
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -webkit-transform: translate(150px, 0);
    transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wrapperMoveUp {
  0% {
    transform: translate(0, 30%);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*------------------------------*/
/*----------Standard animation classes----------*/
/*------------------------------*/
.animate.animate-fade-in {
  -webkit-animation: fadeIn .6s 1;
  -moz-animation: fadeIn .6s 1;
  -ms-animation: fadeIn .6s 1;
  -o-animation: fadeIn .6s 1;
  animation: fadeIn .6s 1;
}
.animate.animate-fade-in-up {
  -webkit-animation: fadeInUp .6s 1;
  -moz-animation: fadeInUp .6s 1;
  -ms-animation: fadeInUp .6s 1;
  -o-animation: fadeInUp .6s 1;
  animation: fadeInUp .6s 1;
}
.animate.animate-fade-in-down {
  -webkit-animation: fadeInDown .6s 1;
  -moz-animation: fadeInDown .6s 1;
  -ms-animation: fadeInDown .6s 1;
  -o-animation: fadeInDown .6s 1;
  animation: fadeInDown .6s 1;
}
.animate.animate-fade-in-left {
  -webkit-animation: fadeInLeft .6s 1;
  -moz-animation: fadeInLeft .6s 1;
  -ms-animation: fadeInLeft .6s 1;
  -o-animation: fadeInLeft .6s 1;
  animation: fadeInLeft .6s 1;
}
.animate.animate-fade-in-right {
  -webkit-animation: fadeInRight .6s 1;
  -moz-animation: fadeInRight .6s 1;
  -ms-animation: fadeInRight .6s 1;
  -o-animation: fadeInRight .6s 1;
  animation: fadeInRight .6s 1;
}

/*# sourceMappingURL=site.css.map */
