html,
body{
    font-size: 16px; 
    height: 100%;
}
body{
    margin: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: $dark-background;
    color: white;
}

.logo{
    font-size: 16px;
    width: 22.6875em; 
    height: 6.875em; 
    @include svg-bg('../images/logo'); 
    background-size: contain; 
    margin: 0 auto; 
    overflow: hidden;
    text-indent: -1000em;

    @media screen and (max-width: $break-xs) {
        max-width: 70%;
    }

}



.wrapper{
    transform: translate(0,50%); animation: wrapperMoveUp 1s ease forwards; animation-delay: 1s;

    h1{
        animation: fadeIn 1s ease forwards;
    }
    h2{
        font-size: 1.3rem; font-weight: 400; margin: 0.4em 0;
    }

}


.text{
    margin: 2.5em 0 1em 0; text-align: center; opacity: 0; animation: fadeInDown 1s ease forwards; animation-delay: 1s;
    a{
        text-decoration: none; font-size: 20px; font-weight: 300;
    }
}

.links{
    display: flex; flex-wrap: wrap; justify-content: center; @include list-reset; opacity: 0; animation: fadeInDown 1s ease forwards; animation-delay: 1s;
    li{
        width: 2.5em; transition: 0.3s ease all;
        + li{
            margin-left: 0.6em;
        }
        a{
            display: block; transition: 0.3s ease all;
            &:hover,
            &:focus{
                transform: translate(0,-0.5em); 
                path{
                    fill: $primary-color;
                }
            }
        }
        

        path{
            fill: white; transition: 0.3s ease all;
        }

        /*
        &.codepen:hover{
            path{
                fill: #000000;
            }
        }
        &.youtube:hover{
            path{
                fill: #FF0000;
            }
        }
        &.dribbble:hover{
            path{
                fill: #E74D89;
            }
        }
        &.linkedin:hover{
            path{
                fill: #0177B5;
            }
        }
        */
    }
}





@keyframes wrapperMoveUp{
    from{transform: translate(0, 50%);}
    to{transform: translate(0,10%)};
}




@if $show-debug == true {
    * { background-color: rgba(255,0,0,.2); }
    * * { background-color: rgba(0,255,0,.2); }
    * * * { background-color: rgba(0,0,255,.2); }
    * * * * { background-color: rgba(255,0,255,.2); }
    * * * * * { background-color: rgba(0,255,255,.2); }
    * * * * * * { background-color: rgba(255,255,0,.2); }
    * * * * * * * { background-color: rgba(255,0,0,.2); }
    * * * * * * * * { background-color: rgba(0,255,0,.2); }
    * * * * * * * * * { background-color: rgba(0,0,255,.2); }
}