//Add any new icons in the "icons" map as svg. Replace any fill attributes with "%%COLOR%%".
//Use an icon with the "get-icon" function. Specify an icon name and an optional colour (default is white).
/*
.example{
    background-image: get-icon( 'arrow-right', $primary-color);
}
*/

$data-svg-prefix: 'data:image/svg+xml;utf-8,';

$icons:(
	'arrow-down': '<svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12"><path d="M803.477,1233.638l-7.859,7.859,7.962,7.962h0a1.5,1.5,0,0,1-2.12,2.121h0l-9-9h0A1.494,1.494,0,0,1,792,1241.5v-.008a1.493,1.493,0,0,1,.459-1.078h0l9-9,0,0a1.5,1.5,0,1,1,2.014,2.22" transform="translate(-1231.001 804) rotate(-90)" fill="%%COLOR%%" fill-rule="evenodd"/></svg>',
    'arrow-left': '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21"><path d="M803.477,1233.638l-7.859,7.859,7.962,7.962h0a1.5,1.5,0,0,1-2.12,2.121h0l-9-9h0A1.494,1.494,0,0,1,792,1241.5v-.008a1.493,1.493,0,0,1,.459-1.078h0l9-9,0,0a1.5,1.5,0,1,1,2.014,2.22" transform="translate(-792 -1231.001)" fill="%%COLOR%%" fill-rule="evenodd"/></svg>',
    'arrow-right': '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="21" viewBox="0 0 12 21"><path d="M904.523,1233.638l7.859,7.859-7.962,7.962h0a1.5,1.5,0,0,0,2.12,2.121h0l9-9h0A1.5,1.5,0,0,0,916,1241.5v-.008a1.5,1.5,0,0,0-.459-1.078h0l-9-9,0,0a1.5,1.5,0,1,0-2.014,2.22" transform="translate(-904 -1231.001)" fill="%%COLOR%%" fill-rule="evenodd"/></svg>',
    'arrow-up': '<svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12"><path d="M803.477,1233.638l-7.859,7.859,7.962,7.962h0a1.5,1.5,0,0,1-2.12,2.121h0l-9-9h0A1.494,1.494,0,0,1,792,1241.5v-.008a1.493,1.493,0,0,1,.459-1.078h0l9-9,0,0a1.5,1.5,0,1,1,2.014,2.22" transform="translate(1252.001 -792) rotate(90)" fill="%%COLOR%%" fill-rule="evenodd"/></svg>',
    'social-codepen': '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%%COLOR%%" opacity="0"/><path d="M19.989,15.736,15.744,18.6v.01L11.5,15.749l4.245-2.863v-.011l4.245,2.863ZM15.744,2.01a1.251,1.251,0,0,0-.64.2L2.669,10.386A1.437,1.437,0,0,0,2,11.169v8.587c0,.563,0,.563.2.829l12.9,8.7a1.06,1.06,0,0,0,.646.187,1.141,1.141,0,0,0,.646-.2l12.9-8.7c.2-.257.2-.257.2-.83V11.158a1.437,1.437,0,0,0-.669-.782L16.384,2.2a1.153,1.153,0,0,0-.64-.192Zm6.293,15.11,4.14,2.792-9.288,6.263V20.591Zm4.278-5.647-4.278,2.885-5.148-3.472V5.272l9.428,6.2Zm.881,2.168v4.2l-3.112-2.1,3.112-2.1ZM9.45,17.131,14.6,20.6v5.582L5.311,19.921,9.45,17.13ZM5.172,11.48,14.6,5.28v5.613l-5.15,3.473L5.171,11.481Zm-.881,2.168,3.112,2.1-3.112,2.1Z" transform="translate(8 7.991)" fill="%%COLOR%%"/></svg>',
    'social-dribbble': '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%%COLOR%%" opacity="0"/><path d="M13.2,26.4A13.2,13.2,0,1,1,26.4,13.195,13.209,13.209,0,0,1,13.2,26.4ZM24.327,15a16.609,16.609,0,0,0-7.023-.485,48.07,48.07,0,0,1,2.186,8.033A11.209,11.209,0,0,0,24.327,15ZM17.6,23.592a46.848,46.848,0,0,0-2.4-8.549.191.191,0,0,1-.072.021c-6.363,2.219-8.642,6.629-8.848,7.041A11.223,11.223,0,0,0,13.2,24.48,10.994,10.994,0,0,0,17.6,23.592ZM4.826,20.749A17.976,17.976,0,0,1,13.994,13.3c.144-.052.3-.093.443-.134q-.424-.971-.918-1.91a41.6,41.6,0,0,1-11.591,1.6c0,.113-.01.227-.01.341a11.289,11.289,0,0,0,2.908,7.547ZM2.166,10.9A41.68,41.68,0,0,0,12.592,9.529,73.058,73.058,0,0,0,8.415,3.011,11.315,11.315,0,0,0,2.166,10.9ZM10.56,2.251a59.367,59.367,0,0,1,4.208,6.6A12.777,12.777,0,0,0,20.677,4.78,11.232,11.232,0,0,0,13.2,1.941a11.707,11.707,0,0,0-2.64.309Zm11.364,3.83a15.015,15.015,0,0,1-6.291,4.45l.753,1.631.247.578a26.464,26.464,0,0,1,7.848.361,11.236,11.236,0,0,0-2.558-7.021Z" transform="translate(11 11)" fill="%%COLOR%%"/></svg>',
    'social-linkedin': '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><rect width="48" height="48" fill="%%COLOR%%" opacity="0"/><path d="M80.438,11.85h5.175V28.5H80.438Zm2.589-8.276a3,3,0,1,1-3,3,3,3,0,0,1,3-3m5.831,8.276H93.82v2.269h.068a5.43,5.43,0,0,1,4.9-2.689c5.24,0,6.208,3.448,6.208,7.931v9.132h-5.17v-8.1c0-1.931-.035-4.414-2.689-4.414-2.693,0-3.106,2.1-3.106,4.275v8.236H88.858V11.838Z" transform="translate(-68.025 8.426)" fill="%%COLOR%%"/></svg>'
);



@function str-replace( $string, $search, $replace: '' ) {

    $index: str-index( $string, $search );
  
    @if $index {
      @return str-slice( $string, 1, $index - 1 ) + $replace + str-replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace);
    }
      
    @return $string;
}
  
  
@function get-icon( $icon, $color: #fff ) {
  
    $icon: map-get( $icons, $icon );
    $placeholder: '%%COLOR%%';
  
    $data-uri: str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );
  
    @return str-replace( $data-uri, '#', '%23' );
}